@import "reset";
@import "typography";
@import "colors";

body {
  width: 100%;

  @media all and (max-width: 1040px) {
    width: 1040px;
  }
}

html {
  scroll-behavior: smooth;
}

.hero {
  background-color: $blacktop-gray;
  color: $honor-white;

  width: 100%;
  min-height: 800px;

  background-image: url(../svgs/hero-beam.svg), url(../svgs/hero-waves.svg);
  background-position: center -5em;
  background-repeat: no-repeat;
  background-size: 1040px, 100%;
}

.hero--container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.faq {
  background-color: $faq-background;
  color: $honor-white;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-image: url(../svgs/faq-waves.svg);
  background-position: center 0;
  background-repeat: no-repeat;
  background-size: 100%;

  min-height: 974px;
}

.faq--title-container {
  width: 100%;
}

.faq--columns {
  margin: auto;
  margin-top: 60px;
  padding: 0 20px;
  max-width: 1276px;
  
  display: flex;
  flex-direction: row;
}

.faq--columns__column {
  display: flex;
  flex-direction: column;

  max-width: 307px;
  margin-right: 24px;

  &:last-child {
    margin-right: 0px;
  }
}

.faq--columns__column__p {
  line-height: 19px;
  letter-spacing: -0.045em;
  margin-top: 40px;

  br {
    display: block;
    margin: 8px 0;
  }
}

.schedule {
  background-color: $honor-white;
  color: $blacktop-gray;
  
  background-image: url(../svgs/schedule-waves.svg);
  background-position-y: center;
  background-repeat: no-repeat;
  background-size: 100%;

  

  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.schedule--title-container {
  text-align: left;
  width: 100%;
}

.schedule--tables {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  margin-top: 66px;
}

.schedule--table-container {
  padding: 0 15px;
  width: 600px;
  height: 600px;
  margin: auto;
  text-align: center;
  
  display: flex;
  flex-direction: column;
  align-items: center;
}

.schedule--table-title {
  font-weight: 700;
  font-size: 32px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.schedule--table {
  width: 100%;

  tr {
    height: 36px;
    border-top: 1px solid $blacktop-gray;
    border-bottom: 1px solid $blacktop-gray;
    border-spacing: 0;    

    &:last-child {
      border-bottom: none;
    }

    td {
      padding-top: 10px;
      text-align: center;
    }
  }
}

.sponsors {
  color: $blacktop-gray;
  background-color: #FFFFFF;

  min-height: 400px;

  display: flex;
  flex-direction: row;
}

.sponsors--title-container {
  margin-left: 78px;
  margin-top: 84px;
}

.sponsors--images-container {
  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: center;

  padding: 0 50px;
  width: 100%;
}

.sponsors--image {

  img {
    width: 100px;
  }
  
  margin: 0 40px;
}

footer {
  min-height: 109px;
  background-color: $footer-background;
  color: $honor-white;

  display: flex;
  flex-direction: row;
}